body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#app {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
}

h1 {
    color: #333;
}

input[type="text"] {
    padding: 10px;
    width: 60%;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

#image {
    
    display: none; /* Initially hidden until image is loaded */
    margin-left: 125px;
    height: 120px;
    width: 150px;
    /* background-color: aqua; */
}

#city_info, #condition {
    margin-top: 20px;
}

#city_info h3, #condition h2, #condition h3 {
    margin: 5px 0;
    color: #555;
}

